<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="com.github.kimmokarlsson.eclipse.buildercreator.BuilderAddFieldQuickAssistProcessor"
            id="com.github.kimmokarlsson.eclipse.buildercreator.quickAssistProcessor">
      </quickAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.jdt.ui.category.refactoring"
            defaultHandler="com.github.kimmokarlsson.eclipse.buildercreator.BuilderCreatorCommandHandler"
            id="com.github.kimmokarlsson.eclipse.buildercreator.createBuilderCommand"
            name="Create Builder using fields">
      </command>
      <command
            categoryId="org.eclipse.jdt.ui.category.refactoring"
            defaultHandler="com.github.kimmokarlsson.eclipse.buildercreator.BuilderFieldRenameCommandHandler"
            id="com.github.kimmokarlsson.eclipse.buildercreator.renameFieldBuilderCommand"
            name="Rename Builder Field">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.source.menu?after=codeGroup">
         <command
               commandId="com.github.kimmokarlsson.eclipse.buildercreator.createBuilderCommand"
               label="Create Builder using fields"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.github.kimmokarlsson.eclipse.buildercreator.renameFieldBuilderCommand"
               label="Rename Builder Field"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.JavaEditorPreferencePage"
            class="com.github.kimmokarlsson.eclipse.buildercreator.BuilderCreatorPreferencePage"
            id="com.github.kimmokarlsson.eclipse.buildercreator.prefs.page1"
            name="BuilderCreator">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.jdt.ui.propertyPages.JavaEditorPropertyPage"
            class="com.github.kimmokarlsson.eclipse.buildercreator.BuilderCreatorPropertyPage"
            id="com.github.kimmokarlsson.eclipse.buildercreator.props.page1"
            name="Builder Creator">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="com.github.kimmokarlsson.eclipse.buildercreator.BuilderFieldRenameParticipant"
            id="com.github.kimmokarlsson.eclipse.buildercreator.renameParticipant1"
            name="Builder Field Rename Participant">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="org.eclipse.jdt.core.javanature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.jdt.core.IField">
               </instanceof>
            </with>
         </enablement>
      </renameParticipant>
   </extension>

</plugin>
